# Configuración base común para todos los ambientes
spring:
  application:
    name: prices-api

  profiles:
    active: ${SPRING_PROFILE:local}  # Variable de entorno SPRING_PROFILE, por defecto: local

  jpa:
    open-in-view: false

server:
  port: 8080
  servlet:
    context-path: /api

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
