# Perfil DEV - Entorno de desarrollo compartido
# Activar con: mvn spring-boot:run -Dspring-boot.run.profiles=dev

spring:
  datasource:
    url: jdbc:h2:mem:pricesdb-dev
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
    show-sql: false

  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: classpath:db/data.sql

logging:
  level:
    root: INFO
    com.inditex.prices: INFO
    org.hibernate.SQL: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
